.login-page {
    min-height: 100vh;
    display: flex;

    .left {
        width: 55%;
        min-height: 100vh;
        border-right: 3px solid #4e4e4e;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        background-color: rgb(52, 52, 52);

        .left-top {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-top: 3rem;

            img {
                height: 5rem;
                width: 5rem;
            }

            .left-top-bottom {
                h2 {
                    font-size: 2.5rem;
                    text-align: center;
                    font-weight: 400;
                }

                .colored {
                    background: linear-gradient(90deg, #f77737, #e1306c, #c13584, #833ab4);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: transparent;

                }
            }
        }

        .left-bottom {
            img {
                height: 33rem;
                width: 45rem;
            }
        }
    }

    .right {
        width: 45%;
        min-height: 100vh;
        background-color: rgb(34, 34, 34);

        display: flex;
        align-items: center;
        justify-content: center;

        .right-content {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3 {
                font-weight: 300;
                margin-bottom: 1.7rem;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                .input-data {
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid #363636;
                    padding-inline: 1rem;
                    padding-block: 1.5rem;
                    border-radius: 1rem;
                    outline: none;
                    color: white;
                }

                .input-data:hover {
                    border: 1px solid white;
                }

                button {
                    width: 100%;
                    background-color: #2a4a87;
                    border: none;
                    padding-inline: 1rem;
                    padding-block: 1.2rem;
                    color: white;
                    font-size: 1.2rem;
                    font-weight: 200;
                    transition: transform 0.1s ease;
                    border-radius: 2rem;
                    cursor: pointer;
                }

                button:active {
                    transform: scale(0.95);
                }

                &::placeholder {
                    color: #8e8e8e;
                }

                &:focus {
                    border-color: #a8a8a8;
                    outline: none;
                }
            }

            .error-text {
                color: #ed4956;
                font-size: 0.85rem;
                text-align: center;
                margin-top: -0.3rem;
            }

            .register-button {
                background-color: transparent;
                color: #2a4a87;
                border: 3px solid #2a4a87;
                border-radius: 2rem;
                margin-top: 2rem;
                padding: 0.8rem;
                font-weight: 200;
                font-size: 0.9rem;
                transition: transform 0.1s ease;
                cursor: pointer;
            }

            .register-button:hover {
                background-color: rgb(42, 41, 41);
            }

            .register-button:active {
                transform: scale(0.95);
            }
        }

        .login-text {
            color: #a8a8a8;
            font-size: 0.95rem;
            text-align: center;

            .login-link {
                color: #4db5ff;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}